In [1]:
import pandas as pd
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [2]:
df = pd.read_excel('../data/kelulusan.xlsx')

In [3]:
df

     Nim Hasil Sebenarnya Hasil Prediksi
0  TI001            Lulus          Lulus
1  TI002            Lulus          Lulus
2  TI003            Lulus          Lulus
3  TI004            Lulus    Tidak Lulus
4  TI005            Lulus    Tidak Lulus
5  TI006      Tidak Lulus          Lulus
6  TI007      Tidak Lulus    Tidak Lulus
7  TI008      Tidak Lulus    Tidak Lulus
8  TI009      Tidak Lulus    Tidak Lulus
9  TI010      Tidak Lulus    Tidak Lulus

In [4]:
# Ubah label teks ke binary: 'Lulus' = 1, 'Tidak Lulus' = 0
label_map = {'Lulus': 1, 'Tidak Lulus': 0}
y_true = df['Hasil Sebenarnya'].map(label_map)
y_pred = df['Hasil Prediksi'].map(label_map)

In [5]:
# Hitung confusion matrix
cm = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[4 1]
 [2 3]]

In [6]:
# Hitung metrik
accuracy = accuracy_score(y_true, y_pred)
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)

print(f"\nAccuracy: {accuracy*100:.2f}%")
print(f"Precision: {precision*100:.2f}%")
print(f"Recall: {recall*100:.2f}%")

Accuracy: 70.00%
Precision: 75.00%
Recall: 60.00%